 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



body{
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    background:#fff ;

}
.principal{
    display: flex;
    background-color: #f2f4f7;
    height: 700px;
    justify-content: center;

}

h1{ font-family:"Lato", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: blue;
    margin-top: 200px;
    margin-left: 150px;


}
h2{
   
    width: 400px;
    margin-left: 150px;
}
.formulario{
    overflow: auto;
   background-color: #fff;
    border-radius: 10px;
    height: 300px;
    width: 400px;
    margin-top: 200px;
    margin-left: 60px;
    
    justify-content: center;
    padding-right: 21px;
    


}
input{
    width: 350px;
    height: 40px;
    border: gainsboro solid 2px ;
    border-radius: 10px;
    


    
}
::placeholder{
    font-weight: 700;
    padding-left:12px ;

}
#en{ margin: 20px 0px 0px 20px;
    
}
#senha{
    margin-top: 10px;
    margin-left: 20px;

}
#butao{
    width: 350px;
    height: 40px;
    margin: 20px 0px 0px 20px;
    color: #fff;
    background-color: blue;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}
.abutre{
    padding-top: 15px;
}
hr{
    margin-left: 15px;
}
#esqueceu{ 
    
    margin-left: 130px;
   padding-top: 30px;
   
    
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.carniceiro{
    margin-top: 12px;
    
    width: 200px;
    color: #fff;
    background-color: #42b72a;
    border-radius: 10px;
    
    
    height: 50px;
    align-content: center;
   
    margin-left: 80px;
    
}
#criar{
    text-decoration: none;
    color: #fff;
    font-size: 17;
    font-weight: 700;
    margin-left: 30px;
}
